.container{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1{
    color: #333;
}

.input-group label{
    margin: 10px 0;
}

.input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: calc(100% - 22px);
    box-sizing: border-box;
  }

button{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover{
    background-color: #0056b3;
}

.result{
    margin-top: 20px;
    color: #333;
}

.app-container {
  text-align: center;
  padding: 20px;
}

.header-image {
  width: 150px;
  margin: 10px 0 20px;
}